.dockerignore
.gcloudignore
.git
.gitignore
.DS_Store
.prettierignore
.github/
.history/
.vscode/
coverage/
docs/
node_modules/
samples/
src/
Dockerfile
Makefile
README.md
settings.secret.json
settings.from-gcp.json
strautomator.cert
strautomator.key
app.yaml
*.log
