
.dockerignore
.gcloudignore
.git
.gitignore
.DS_Store
.prettierignore
.github/
.history/
.vscode/
coverage/
docs/
node_modules/
src/
Dockerfile
Makefile
README.md
settings.private.json
settings.private.json.sample
app.yaml
app.yaml.sample
docker-compose.yml.sample
*.log
