.cache
.DS_Store
.grunt
.history
.lock-wscript
.next
.nuxt
.nyc_output
.serverless
.vuepress/dist

bower_components/
coverage/
dist/
jspm_packages/
lib-cov/
node_modules/
pids/
server/

settings.private.json

*.log
*.pid
*.seed
*.pid.lock
*.swp
*.tgz
