// STRAUTOMATOR SECRET SETTINGS (SAMPLE)
// This is a sample with some of the keys that you need to set yourself via
// a settings.secret.json file (on the application root). Please note that
// the file settings.secret.json is automatically encrypted during the
// application startup, using the key defined on the $SMU_CRYPTO_KEY
// environment variable, which you must set manually.

{
    "api": {
        "url": "https://my-cloudflare-domain.com/api/"
    },
    "app": {
        "url": "https://my-cloudflare-domain.com/"
    },
    "gcp": {
        "projectId": "my-gcp-project-id",
    },
    "github": {
        "api": {
            "token": "Personal access token from GitHub",
            "urlToken": "URL specific token to validate webhook calls"
        }
    },
    "locationiq": {
        "token": "location IQ token"
    },
    "mailer": {
        "smtp": {
            "auth": {
                "user": "My Amazon SES SMTP user",
                "pass": "My Amazon SES SMTP pass"
            }
        }
    },
    "maps": {
        "api": {
            "key": "Google Maps API key from GCP"
        }
    },
    "musixmatch": {
        "api": {
            "key": "musixmatch API key"
        }
    },
    "paypal": {
        "api": {
            "clientId": "PayPal Client ID (for payments integration)",
            "clientSecret": "PayPal Client Secret (for payments integration)"
        }
    },
    "spotify": {
        "api": {
            "clientId": "Spotify Client ID",
            "clientSecret": "Spotify Client Secret"
        }
    },
    "strava": {
        "api": {
            "clientId": "Strava Client ID",
            "clientSecret": "Strava Client secret"
        }
    },
    "weather": {
        "tomorrow": {
            "secret": "Tomorrow API key"
        },
        "openweathermap": {
            "secret": "OpenWeatherMap API key"
        },
        "stormglass": {
            "secret": "StormGlass API key"
        },
        "visualcrossing": {
            "secret": "VisualCrossing API key"
        },
        "weatherapi": {
            "secret": "WeatherAPI API key"
        }
    }
}
