// STRAUTOMATOR PRIVATE SETTINGS (SAMPLE)

{
    "app": {
        "url": "https://strautomator.my-cool-domain.com/"
    },
    "cookie": {
        "secret": "my-dev-cookies"
    },
    "gcp": {
        "projectId": "my-gcp-project"
    },
    "mailer": {
        "from": "my@email.com",
        "smtp": {
            "auth": {
                "user": "myuser",
                "pass": "mypass"
            }
        }
    },
    "maps": {
        "api": {
            "key": "my-api-key"
        }
    },
    "strava": {
        "api": {
            "clientId": "00000",
            "clientSecret": "my-strava-secret"
        }
    },
    "weather": {
        "darksky": {
            "secret": "my-api-key"
        },
        "openweathermap": {
            "secret": "my-api-key"
        },
        "weatherbit": {
            "secret": "my-api-key"
        }
    }
}
