// STRAUTOMATOR SECRET SETTINGS (SAMPLE)
// This is a sample with some of the keys that you need to set yourself via
// a settings.secret.json file (on the application root). Please note that
// the file settings.secret.json is automatically encrypted during the
// application startup, using the key defined on the $SMU_CRYPTO_KEY
// environment variable, which you must set manually.

{
    "app": {
        "url": "https://strautomator.my-cool-domain.com/"
    },
    "cookie": {
        "secret": "my-dev-cookies"
    },
    "gcp": {
        "projectId": "my-gcp-project"
    },
    "mailer": {
        "from": "my@email.com",
        "smtp": {
            "auth": {
                "user": "myuser",
                "pass": "mypass"
            }
        }
    },
    "maps": {
        "api": {
            "key": "my-api-key"
        }
    },
    "strava": {
        "api": {
            "clientId": "00000",
            "clientSecret": "my-strava-secret"
        }
    },
    "weather": {
        "openweathermap": {
            "secret": "my-api-key"
        },
        "weatherbit": {
            "secret": "my-api-key"
        }
    }
}
