NODE_ENV=production
GOOGLE_APPLICATION_CREDENTIALS=xxx
STA_api_adminToken=xxx
STA_cookie_secret=xxx
STA_database_crypto_key=xxx
STA_database_crypto_iv=xxx
STA_gcp_projectId=xxx
STA_mailer_from=xxx
STA_mailer_smtp_auth_user=xxx
STA_mailer_smtp_auth_pass=xxx
STA_maps_api_key=xxx
STA_strava_api_clientId=xxx
STA_strava_api_clientSecret=xxx
STA_strava_api_verifyToken=xxx
STA_weather_darksky_secret=xxx
STA_weather_openweathermap_secret=xxx
STA_weather_weatherbit_secret=xxx
