@import url("vanilla-jsoneditor/themes/jse-theme-dark.css");

h1 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.width-wrapper {
    margin: auto;
    max-width: 960px !important;
    text-align: left;
}

.width-divider {
    margin: auto;
    max-width: 910px !important;
}

.v-toolbar__title a {
    color: rgb(255, 255, 255);
}

.v-toolbar__content {
    margin: auto;
    max-width: 960px !important;
}

.v-dialog .headline {
    margin-bottom: 16px;
}

.v-data-table tr {
    background: Transparent !important;
}

.v-chip:before {
    background: transparent !important;
}

.copyright {
    margin-top: 25px;
    margin-bottom: 45px;
}

.nowrap {
    white-space: nowrap;
}

.nobreak {
    overflow-wrap: normal;
    word-break: normal !important;
}

.strautologo {
    vertical-align: middle;
}

.strava-connect {
    box-shadow: 0 0 3px 0 #000000;
    transition: box-shadow 300ms;
}

.strava-connect:hover {
    box-shadow: 0 0 3px 0 #ffa000;
}

.strava-powered {
    position: relative;
    z-index: 99;
}

.free-list-title {
    list-style-type: none;
    font-weight: bold;
}

.feature .home-wrapper p {
    font-size: 110%;
}

.home-wrapper {
    max-width: 660px;
    margin: auto;
    position: relative;
    z-index: 99;
}

.home-wrapper .fade-out-in {
    transition: visibility 0s, opacity 1s linear;
}
.home-wrapper .fade-out-in.hidden {
    opacity: 0;
}

.home-panel {
    box-shadow: 0 0 5px -1px #ffa000;
}

.home-chip {
    background: rgb(33, 33, 33);
    border-radius: 6px;
    clear: both;
    display: inline-block;
    margin: 5px 0 5px 0;
    min-width: 325px;
    max-width: 490px;
    padding: 8px 14px 8px 14px;
    position: relative;
}

.home-chip .c-if,
.home-chip .c-then {
    font-weight: bold;
}

.home-faq h2 {
    margin-left: -1px;
    margin-bottom: 5px;
}

.home-faq div {
    margin-bottom: 20px;
}

.home-screenshot {
    border-radius: 8px;
    box-shadow: 0 0 0 1px #000000;
    max-width: 300px;
}

.pulse-button {
    animation: pulse 1s 5;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.table-align-top {
    vertical-align: top;
}

.googlemaps-canvas {
    width: 100%;
    height: 400px;
    position: relative;
}

.card-affiliate-logo {
    max-height: 32px;
}

.color-invert {
    filter: invert(1);
}

.poem {
    white-space: pre;
}

.gdpr-list-header {
    list-style-type: none;
    margin-top: 8px;
}

.tooltip.popover {
    display: block !important;
    font-family: Roboto, sans-serif;
    z-index: 99999;
}
.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}
.tooltip .tooltip-inner {
    background: rgv(235, 235, 235, 0.95);
    border-radius: 16px;
}
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
}
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
    margin-left: 40px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
    margin-left: 15px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}
.tooltip.popover .mention-item {
    border-radius: 6px;
    padding: 4px 6px 4px 6px;
}
.tooltip.popover .mention-selected {
    background: rgb(155, 155, 155);
}
.tooltip.popover .no-result {
    padding: 4px 6px 4px 6px !important;
    font-style: italic !important;
}

.jse-contents {
    width: 100% !important;
}

.jse-contents .jse-value {
    width: 100% !important;
}

.jse-editable-div {
    width: 100% !important;
}

.jse-context-menu-pointer-anchor,
.compact-editor .cm-gutters,
.compact-editor .jse-validation-errors-overview {
    display: none !important;
}

.gm-style .gm-style-iw-t::after {
    display: none;
}
.gm-style .gm-style-iw-tc::after {
    display: none;
}

.stripe {
    position: fixed;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stripe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 120px);
    height: 100%;
    background: repeating-linear-gradient(45deg, #131313 25%, #131313 50%, #000000 50%, #000000 75%);
    background-size: 120px 120px;
    -webkit-animation: stripeTransform 11s linear infinite;
    animation: stripeTransform 11s linear infinite;
}

.stripe::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(27, 39, 53, 0) 0%, #090a0f 100%);
}

@-webkit-keyframes stripeTransform {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(120px * -1));
        transform: translateX(calc(120px * -1));
    }
}

@keyframes stripeTransform {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(120px * -1));
        transform: translateX(calc(120px * -1));
    }
}

@-webkit-keyframes stripeBackgroundPosition {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(120px * -1) 0;
    }
}

@keyframes stripeBackgroundPosition {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(120px * -1) 0;
    }
}
