h1 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.width-wrapper {
    margin: auto;
    max-width: 960px !important;
    text-align: left;
}

.v-toolbar__title a {
    color: rgb(255, 255, 255);
}

.v-toolbar__content {
    margin: auto;
    max-width: 960px !important;
}

.v-dialog .headline {
    margin-bottom: 16px;
}

.v-data-table tr {
    background: Transparent !important;
}
.beta {
    text-decoration: line-through;
}

.copyright {
    margin-top: 25px;
    margin-bottom: 45px;
}

.copyright span {
    position: relative;
    left: 1px;
    top: 2px;
}

.strautologo {
    vertical-align: middle;
}
